* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v44_17 {
  width: 100%;
  height: 2620px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v46_2 {
  width: 100%;
  height: 100%;
  background: rgba(75,116,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v46_199 {
  width: 100%;
  height: 2787px;
  background: url("../images/v46_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 147px;
  overflow: hidden;
}
.v46_200 {
  width: 519px;
  height: 935px;
  background: url("../images/v46_200.png");
  opacity: 1;
  position: absolute;
  top: 1335px;
  left: 1244px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_201 {
  width: 410px;
  height: 771px;
  background: url("../images/v46_201.png");
  opacity: 1;
  position: absolute;
  top: 1392px;
  left: 1399px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_202 {
  width: 100%;
  height: 877px;
  background: url("../images/v46_202.png");
  opacity: 1;
  position: absolute;
  top: 1909px;
  left: 92px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_203 {
  width: 884px;
  height: 632px;
  background: url("../images/v46_203.png");
  opacity: 1;
  position: absolute;
  top: 2116px;
  left: 88px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_204 {
  width: 363px;
  height: 398px;
  background: url("../images/v46_204.png");
  opacity: 1;
  position: absolute;
  top: 2357px;
  left: 1326px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_205 {
  width: 270px;
  height: 302px;
  background: url("../images/v46_205.png");
  opacity: 1;
  position: absolute;
  top: 2460px;
  left: 1418px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_206 {
  width: 430px;
  height: 100%;
  background: url("../images/v46_206.png");
  opacity: 1;
  position: absolute;
  top: 782px;
  left: 68px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_207 {
  width: 265px;
  height: 766px;
  background: url("../images/v46_207.png");
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 86px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_208 {
  width: 327px;
  height: 771px;
  background: url("../images/v46_208.png");
  opacity: 1;
  position: absolute;
  top: 925px;
  left: 78px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_209 {
  width: 100%;
  height: 100%;
  background: url("../images/v46_209.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 685px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_210 {
  width: 682px;
  height: 733px;
  background: url("../images/v46_210.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1105px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_211 {
  width: 588px;
  height: 593px;
  background: url("../images/v46_211.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1216px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_212 {
  width: 100%;
  height: 100%;
  background: url("../images/v46_212.png");
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 28px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_213 {
  width: 924px;
  height: 100%;
  background: url("../images/v46_213.png");
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_214 {
  width: 449px;
  height: 457px;
  background: url("../images/v46_214.png");
  opacity: 1;
  position: absolute;
  top: 1197px;
  left: 940px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_215 {
  width: 296px;
  height: 357px;
  background: url("../images/v46_215.png");
  opacity: 1;
  position: absolute;
  top: 1261px;
  left: 987px;
  border: 4px solid rgba(36,49,70,0.6000000238418579);
}
.v46_6 {
  width: 352px;
  background: url("../images/v46_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 958px;
  overflow: hidden;
}
.v46_7 {
  width: 232px;
  color: rgba(42,7,76,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v46_8 {
  width: 80px;
  color: rgba(42,7,76,1);
  position: absolute;
  top: 0px;
  left: 272px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v46_85 {
  width: 669px;
  height: 101px;
  background: url("../images/v46_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 330px;
  overflow: hidden;
}
.v46_86 {
  width: 88px;
  height: 101px;
  background: url("../images/v46_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 346px;
  box-shadow: 2px 3px 2px rgba(0.010156247764825821, 0.0078125, 0.125, 0.6000000238418579);
  overflow: hidden;
}
.v46_87 {
  width: 22px;
  height: 14px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v46_88 {
  width: 13px;
  height: 16px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
}
.v46_89 {
  width: 8px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 68px;
}
.v46_90 {
  width: 1px;
  height: 15px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 76px;
}
.v46_91 {
  width: 1px;
  height: 20px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 68px;
}
.v46_92 {
  width: 4px;
  height: 31px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 41px;
}
.v46_93 {
  width: 12px;
  height: 10px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 41px;
}
.v46_94 {
  width: 8px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 52px;
}
.v46_95 {
  width: 2px;
  height: 12px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 52px;
}
.v46_96 {
  width: 12px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 57px;
}
.v46_97 {
  width: 12px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 68px;
}
.v46_98 {
  width: 6px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 77px;
}
.v46_99 {
  width: 2px;
  height: 16px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 82px;
}
.v46_100 {
  width: 16px;
  height: 4px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 49px;
}
.v46_101 {
  width: 8px;
  height: 1px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 79px;
}
.v46_102 {
  width: 8px;
  height: 27px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 80px;
}
.v46_103 {
  width: 6px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 79px;
}
.v46_104 {
  width: 6px;
  height: 2px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 70px;
}
.v46_105 {
  width: 9px;
  height: 16px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 68px;
}
.v46_106 {
  width: 16px;
  height: 11px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 42px;
}
.v46_107 {
  width: 12px;
  height: 12px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 58px;
}
.v46_108 {
  width: 2px;
  height: 21px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 69px;
}
.v46_109 {
  width: 3px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 67px;
}
.v46_110 {
  width: 7px;
  height: 2px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 70px;
}
.v46_111 {
  width: 3px;
  height: 1px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 81px;
}
.v46_112 {
  width: 2px;
  height: 8px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 83px;
}
.v46_113 {
  width: 6px;
  height: 10px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 77px;
}
.v46_114 {
  width: 13px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 66px;
}
.v46_115 {
  width: 9px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 58px;
}
.v46_116 {
  width: 33px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 26px;
}
.v46_117 {
  width: 20px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 9px;
}
.v46_118 {
  width: 10px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 58px;
}
.v46_119 {
  width: 2px;
  height: 11px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 58px;
}
.v46_120 {
  width: 10px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 46px;
}
.v46_121 {
  width: 2px;
  height: 24px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 41px;
}
.v46_122 {
  width: 2px;
  height: 19px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 57px;
}
.v46_123 {
  width: 7px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 13px;
}
.v46_124 {
  width: 10px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 20px;
}
.v46_125 {
  width: 1px;
  height: 10px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 30px;
}
.v46_126 {
  width: 5px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 23px;
}
.v46_127 {
  width: 7px;
  height: 2px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 16px;
}
.v46_128 {
  width: 3px;
  height: 10px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 13px;
}
.v46_129 {
  width: 2px;
  height: 8px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 23px;
}
.v46_130 {
  width: 5px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 32px;
}
.v46_131 {
  width: 13px;
  height: 14px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 15px;
}
.v46_132 {
  width: 2px;
  height: 27px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 26px;
}
.v46_133 {
  width: 8px;
  height: 9px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
}
.v46_134 {
  width: 3px;
  height: 43px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 6px;
}
.v46_135 {
  width: 4px;
  height: 21px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 5px;
}
.v46_136 {
  width: 2px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 6px;
}
.v46_137 {
  width: 8px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
}
.v46_138 {
  width: 2px;
  height: 20px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
}
.v46_139 {
  width: 6px;
  height: 10px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1px;
}
.v46_140 {
  width: 9px;
  height: 8px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 32px;
}
.v46_141 {
  width: 2px;
  height: 29px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 31px;
}
.v46_142 {
  width: 6px;
  height: 3px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 34px;
}
.v46_143 {
  width: 11px;
  height: 8px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 21px;
}
.v46_144 {
  width: 10px;
  height: 6px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
}
.v46_145 {
  width: 5px;
  height: 4px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 28px;
}
.v46_146 {
  width: 4px;
  height: 13px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 34px;
}
.v46_147 {
  width: 14px;
  height: 4px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 15px;
}
.v46_148 {
  width: 10px;
  height: 3px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 34px;
}
.v46_149 {
  width: 10px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 47px;
}
.v46_150 {
  width: 6px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 61px;
}
.v46_151 {
  width: 5px;
  height: 4px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 9px;
}
.v46_152 {
  width: 8px;
  height: 5px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 17px;
}
.v46_153 {
  width: 8px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 9px;
}
.v46_154 {
  width: 4px;
  height: 12px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
}
.v46_155 {
  width: 1px;
  height: 22px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 17px;
}
.v46_156 {
  width: 4px;
  height: 11px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 31px;
}
.v46_157 {
  width: 3px;
  height: 13px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 65px;
}
.v46_158 {
  width: 3px;
  height: 7px;
  background: rgba(42,7,76,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 21px;
}
.v46_159 {
  width: 248px;
  color: rgba(42,7,76,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: right;
}
.v46_160 {
  width: 99px;
  color: rgba(42,7,76,1);
  position: absolute;
  top: 63px;
  left: 570px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: right;
}
.v46_162 {
  width: 376px;
  color: rgba(42,7,76,0.8999999761581421);
  position: absolute;
  top: 266px;
  left: 532px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v46_163 {
  width: 100%;
  height: 100%;
  background: rgba(42,7,76,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 130px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  box-shadow: 0px 15px 4px rgba(0.16562500596046448, 0.03125, 0.30000001192092896, 0.699999988079071);
  overflow: hidden;
}
.v46_164 {
  width: 737px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 501px;
  left: 230px;
  font-family: Oranienbaum;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
