{% extends "thisisbase.html" %}

{% block content %}
<head>
  <style>]
    .mom
  {
      display: table;
      width: 100%;
  }
  #child {
    display: table-cell;
  }
    #cchildinner {
      margin-top: 180px;
      margin-left: 220px;
    }
    #ccchildinner {
      margin-left: 100px;
    }
    #kid {
      margin-left: 270px;
    }
    #buttton {text-align: right;
      position: absolute;
      font-size: 40px;
      color: #2A084D;
      font: Oranienbaum;
      bottom: -780px;
    margin-left: -390px;}
  </style>
</head>
<body>
  <div class="mom">
  <div id="child">
    <img id="cchildinner" src="/static/images/left.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  <div id="child">
    <img id="ccchildinner" src="/static/images/center.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  <div id="child">
    <img id="ccchildinner" src="/static/images/right.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  </div>
  <div class="mom">
  <div id="child">
    <img id="cchildinner" src="/static/images/upleft.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  <div id="child">
    <img id="kid" src="/static/images/upright.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  </div>
  <div class="mom">
  <div id="child">
    <img id="cchildinner" src="/static/images/downleft.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  <div id="child">
    <img id="kid" src="/static/images/downright.png" alt="здесь должна была быть картинка, но не нашлась">
  </div>
  <div id="center">
    <a href="http://127.0.0.1:8080/assor" id="childinner">СМОТРЕТЬ</a>
  </div>
  </div>
</body>
{% endblock %}
