<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap" rel="stylesheet" />
      <link href="/css/main.css" rel="stylesheet" />
      <title>Главная</title>
      <style>
      #center {text-align: center;}
      </style>
    </head>
    <style>
    body {
      background-image: url("static/images/backgr.png")
    }
    </style>
      <button type="submit" class="v1_2">Регистрация/Вход</button>
      <div id="center">TeXTT</div>
    </body>
  </html>
