<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap" rel="stylesheet" />
      <link href="{url_for('css', filename='main.css')}" type="text/css" rel="stylesheet" />
      <title>Главная</title>
      <style>
      #center {text-align: center;
        font-size: 50px;
        color: #2A084D;
        font: Oranienbaum;}
      </style>
    </head>
    <style>
    body {
      background-image: url("static/images/backgr.png")
    }
    </style>
      <button type="submit" class="v1_2">Регистрация/Вход</button>
      <div id="center">КАМЕННЫЙ</div>
      <div id="center">МИР</div>
      <div id="center"><img src="/static/images/logo.png" alt="здесь должна была быть картинка, но не нашлась"></div>
      <div id="center">ВСЕ КАМНИ</div>
      {% for item in sp %}
        <div id="center"><img src="/static/images/{{item[1]}}" alt="здесь должна была быть картинка, но не нашлась"></div>
        <div id="center"><button style="height:100px;width:250px" value="{{item[0]}}">{{item[0]}}</button></div>
      {% endfor %}
    </body>
  </html>
