{% extends "thisisbase.html" %}

{% block content %}
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap" rel="stylesheet" />
      <link href="{url_for('css', filename='main.css')}" type="text/css" rel="stylesheet" />
      <title>Главная</title>
      <style>
      #center {text-align: center;
        font-size: 50px;
        color: #2A084D;
        font: Oranienbaum;}
      </style>
    </head>
    <body>
    <style>
    body {
      background-image: url("static/images/backgr.png")
    }
    </style>
    <div id="center">ВСЕ КАМНИ</div>
    {% for item in sp %}
      <div id="center"><img src="/static/images/{{item[1]}}" alt="здесь должна была быть картинка, но не нашлась"></div>
      <div id="center"><a href="http://127.0.0.1:8080/kamen/{{item[0]}}" id="childinner">{{item[0]}}</a>
    {% endfor %}
  </body>
{% endblock %}
